li { list-style:none;}
.navbar-collapse { position: relative; }
.nav { width: 150px; }
/***********BUTTON CODE ******************************************************/

.button-wrapper {
	display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    min-height:100%;
}

.button-wrapper button, .button-wrapper span.lined-thin {
	align-self:center;
    background:transparent;
    padding:1rem 1rem;
    margin:0 1rem;
/*     transition:all .5s ease; */
/*     color:#41403E; */
    font-size:2rem;
    letter-spacing:1px;
    outline:none;
}

button, a.button {
/* 	background: #f5f5f5; */
    padding: 15px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    display: inline-block;
/*       border: 1px solid #2a2c2f;
	box-shadow: 0px 3px 2px #CCC;
	-webkit-transition: all .7s ease;
    transition: all .7s ease;
	-webkit-appearance: button;
      font-weight: bold;
      -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; */
}

/* .button-wrapper button:hover {
	box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
} 
.button-wrapper button.lined.thick{
    border:solid 7px #41403E;
}
.button-wrapper button.dotted.thick{
    border:dotted 5px #41403E;
}
.button-wrapper button.dashed.thick{
    border:dashed 5px #41403E;
}
.button-wrapper button.lined.thin, .button-wrapper span.lined-thin{
    border:solid 2px #41403E !important;
}
.button-wrapper button.dotted.thin{
    border:dotted 2px #41403E;
}
.button-wrapper button.dashed.thin{
    border:dashed 2px #41403E;


a, button, input:focus, input[type='button'], input[type='reset'], 
input[type='submit'], textarea:focus, .button {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
button a, button a:hover {
	box-shadow: none !important;
}
button, a.button, button a, a.button:hover, button a:hover  {
	text-decoration: none !important;
	margin: 5px !important;
	color: #000 !important;
}
a.button:hover, button a:hover, button:hover; {
	color: #000 !important;
}
a.button:hover:before, button a:hover:before,
 a.button:hover:after, button a:hover:after  {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    width: 100%;
}
a.button.small {
    padding: 5px 0px !important;
}
.btn {
	background: #fff;
	border: 1px solid #BEE7ED;
    margin: -3px 0 0 0;
} */

/*************TOGGLE CODE ****************************************************************/

aside .toggle-wrapper input[type='checkbox'] {
  float: right;
}

aside .toggle-inside li {
  padding-left: 20px;
  border-bottom: 1px solid #EEEDEE;
  border-left: 5px solid rgba(101, 110, 127, 0.34);
  width: 100%;
  margin-left: -15px;
  overflow: hidden;
  box-shadow: 0 1px 1px #F0F1F3;
}

.dropdown-menutoggle {
  padding: 0 16 16 16;
  position: absolute;
  top: 100%;
  left: 21px;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 360px;
  min-height: 531px;
  padding: 0 17px !important;
  margin: 2px 0 0 !important;
  font-size: 14px;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
/*   -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; */
  /*   background-color: #fff; */
/*   border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important; */

  box-shadow: 6px 4px 35px 0px #00000036;

}

.category-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.category-checkbox:checked ~ label {
  font-weight: bold;
}

/******************TOGGLE ****************/
.toggle-wrapper {
    position: relative;
    overflow: hidden;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	line-height: 2rem;
    font-size: 2.5rem;
}
.toggle-wrapper div[class*='toggle-inside'] {
   /* margin: -22px 0 13px 0;*/
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}
aside .toggle-wrapper input[type='checkbox'] {
	float:right;
}
aside .toggle-inside li {
    padding-left: 20px;
    border-bottom: 1px solid #EEEDEE;
    border-left: 5px solid rgba(101, 110, 127, 0.34);
    width: 100%;
    margin-left: -15px;
    overflow: hidden;
/*     box-shadow: 0 1px 1px #F0F1F3; */
}
.nav li {
    border-top: 0 solid #fff !important;
}
.nav .toggle-wrapper {
	overflow: visible;
}
footer .navbar {
	height: 6rem;
}
#navbar label span {
    color: #fff !important;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.5rem;
    display: block;
        /* padding: 10px 10px 10px 10px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 33px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0px 3px 2px #CCC;
    box-shadow: 0px 2px 1px rgba(204, 204, 204, 0.74);
    background-color: #e85c41;
	display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
        -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    width: 170px; */
}
#navbar ul .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
#navbar label span:active {
    background-color: #CE1119;
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #adadad;
	background-image: none;
}
#navbar label span:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#navbar label span:focus {
    background-color: #e6e6e6;
}
[id*='toggle'] .container, [class*='toggle'] .container  {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
[id*='toggle'] {
    visibility: hidden;
    appearance:none;
    cursor:pointer;
    left:-100%;
    top:-100%;
}
[id*='toggle'] + label {
    cursor:pointer;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition:all 500ms ease;
}
/* [id*='toggle'toggle'toggle'] + label div {
    transition:all 500ms ease;
} */
[id*='toggle'toggle'toggle'] + label div:after {
    content:&#39;\002b&#39;; /*OPEN*/
    text-align: left;
    float: left;
}
[id*='toggle'toggle'toggle']:checked + label div:after {
    content:&#39;\2212&#39;; /*close*/
    text-align: left;
    float: left;
}

a:visited,  a:link, a {
	text-decoration: none;
	color: #2c9ab7;
}
a:focus, a:hover {
 	text-decoration: underline;
  	color: #195760 !important;
}

#navbar label span {
    color: #fff !important;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    /* box-shadow: 0px 3px 2px #CCC;
    box-shadow: 0px 2px 1px rgba(204, 204, 204, 0.74); */
    /* background-color: #e85c41; */
	display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
        /* width: 170px;
    border-radius: 33px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px; */
}
#navbar ul .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
#navbar label span:active {
    background-color: #CE1119;
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #adadad;
	background-image: none;
}
#navbar label span:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#navbar label span:focus {
    background-color: #e6e6e6;
}
[id*='toggle'] .container, [class*='toggle'] .container  {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
[id*='toggle'] {
    visibility: hidden;
    appearance:none;
    cursor:pointer;
    left:-100%;
    top:-100%;
}
[id*='toggle'] + label {
    text-align: left;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    /* transition:all 500ms ease; */
}
[id*='toggle'] + label div {
    /* transition:all 500ms ease; */
}
[id*='toggle'] + label div:after {
    content:'\002b'; /*OPEN*/
    text-align: left;
    float: left;
}
[id*='toggle']:checked + label div:after {
    content:'\2212'; /*CLOSE*/
    text-align: left;
    float: left;
}

.nav [id*='toggle'] + label div:after {
    content:'&#39;' '&#39;'; /*OPEN*/
}
.nav [id*='toggle']:checked + label div:after {
    content:'&#39;' '&#39;'; /*CLOSE*/
}

[id*='toggle']:checked ~ .container {
    display: none;
}

[id*='toggle']:checked ~ .toggle-inside {
    display: block;
}
.toggle-wrapper div[class*='toggle-inside'] {
    /* margin: -22px 0 13px 0; */
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}