						/* ================================ General ================================ */
/* some changes */
* {
	margin: 0;
	padding: 0;
}

/* end eradicate  */

body {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100vh;
	overflow-x: hidden
}

.black-text {
	color: #222222;
}
					
.hero, .categories, .products, .features-block {
max-width: 1140px;
position: relative;
box-sizing: border-box;
margin: 0 auto;
}

.pink-text {
	color: #F16D7F !important;
}

					/* ================================ end General ================================ */

			/* ================================ Category General ================================ */

.fa-chevron-down {
	width: 10px;
	height: 5px;
	font-size: 12px;
	margin-left: 10px;
}

		/* ================================ end Category General ================================ */


					

/* ================================ Header ================================ */


.header {
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background: #222222;
	color: #E8E8E8;
}

.navigation-container {
	position: relative;
	max-width: 1140px;
	min-height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 16px 0;
	box-sizing: border-box;
}

.topline-navigation {
	max-width: 1600px;
	display: flex;
	flex-grow: inherit;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.menu__logo {
	float: left;
	width: 44px;
	padding-right: 41px;
}

.search-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.search-group > label {
	width: 26px;
	cursor: pointer;
}

.search-input-icon {
	fill: #E8E8E8;
}

.search-input-icon:hover, .menu-button-icon:hover {
	fill: #fff;
}

.search-input-icon:active {
	fill: #F16D7F;
}

#search-input {
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	outline: focus-visible;
	padding: 0 16px;
	color: #e8e8e8;
	font-family: inherit;
	font-size: 24px;
	line-height: 28px;
}

#search-input:focus {
	width: 375px;
	padding: 2px 8px;
	margin-left: 16px;
	border-left: 2px solid #F16D7F;
}

.menu-main {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.menu-tray {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.menu-main > form, .menu-tray > button, .menu-main > form:focus, .menu-tray > button:focus {
	background: none;
	border: none;
	cursor: pointer;
	outline: focus-visible;
}

.menu-button-icon {
	padding: 0 16px;
	fill: #E8E8E8;
}

					/* ================================ end Header ================================ */

/* ================================ Hero ================================ */

.hero-screen {
	flex-grow: 1;
	background: #F1E4E6;
	min-height: 764px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.hero__box {
	width: 100%;
	max-width: 1600px;
	max-height: 768px;
	margin: 0 auto;
	background-image: url(../img/hero-screen-image.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	position: relative;
	box-sizing: border-box;
}

#page-title {
	position: absolute;
	top: 290px;
	right: 331px;
	padding-left: 16px;
	border-left: 12px solid #F16D7F;
	box-sizing: border-box;
	width: 465px;
	text-transform: uppercase;
}

.title-first-line {
	font-family: 'Lato';
	font-weight: 900;
	font-size: 48px;
	line-height: 57.6px;
}

.title-second-line {
	font-weight: 400;
	font-size: 37px;
	line-height: 44.4px;
}

					/* ================================ end Hero ================================ */

				/* ================================ Category Page ================================ */

.category-title-block {
	flex-grow: 1;
	background: #F1E4E6;
	min-height: 148px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin: 0;
	background: #F8F3F4;	
}

.category-title__box {
	width: 100%;
	max-width: 1600px;
	max-height: 148px;
	padding: 0 230px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.category-title-text {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 29px;
}

.breadcrumb {
	text-transform: uppercase;
	color: #636363;
	text-decoration: none;
}

.breadcrumb:hover {
	color: #000;
}

.breadcrumb:last-child {
	color: #F16D7F;
	font-weight: 700;
}

				/* ================================ Primary Filters ================================ */

.filters-primary {
	width: 360px;
	padding: 0 30px 0 0;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	user-select: none;
	position: relative;
}

.filters-container {
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding: 65px 0;
}

/* ================================ Toggle ================================ */

/* после того как закончу есть смысл перенести дропдаун в отдельный файл -- много весит, на главной не нужен */

.dropdown-header, .dropdown-subcategory-item, .dropdown-filter-item  {
	list-style: none;
}

.dropdown-subcategory-item {

}

.dropdown-filter-item {
	font-family: 'Roboto';
	color: #6F6E6E;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.dropdown-filter-item:last-of-type {
	margin-bottom: 0;
}

.dropdown-filter-item:checked {

}

.dropdown-menutoggle, .dropdown-trending, .dropdown-size, .dropdown-price {
	background: #fff;
	position: absolute;
	display: block;
	float: left;
	box-sizing: border-box;
	margin: 32px 0 0 0;
	background-clip: padding-box;
	box-shadow: 6px 4px 35px 0px #00000036;
}

.dropdown-trending, .dropdown-size, .dropdown-price {
	padding: 9px 10px 12px 10px;
	top: -50%;
	left: -5%;
}
	/* z-index разный чтобы чекбоксы можно было чекнуть даже если предыдущий блок налезет на следующий (зум > 200%)*/
.dropdown-menutoggle {
	padding: 46px 17px 17px 17px;
	top: -45px;
	left: 0;
	min-width: 360px;
	z-index: 1;
}

.dropdown-trending {
	min-width: 175px;
	z-index: 2;
}

.dropdown-size {
	min-width: 86px;
	z-index: 3;
}

.dropdown-price {
	min-width: 178px;
	z-index: 4;
}

.dropdown-header-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #EF5B70;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	min-height: 37px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 24px;
	cursor: pointer;
}
.dropdown-header-text::before {
	content: '';
	min-height: 37px;
	z-index: 1;
	position: relative;
	border: 5px solid;
	border-width: 0 0 0 5px;
	border-color: #EF5B70;
	margin-right: 11px;
}

.subcategories li {
	position: relative;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #6F6E6E;
	margin-bottom: 11px;
}

.subcategories li:last-child {
	margin-bottom: 24px;
}
/* переделать  */
.dropdown-menutoggle > li:last-child > span {
	margin-bottom: 0;
}
	
.category-checkbox, .dropdown-checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

.secondary-filter-checkbox {
	width: 12px;
	height: 12px;
	border: 1px solid #ebebeb;
	border-radius: 0;
	margin-right: 10px;
	appearance: none;
	outline: focus-visible;
	position: relative;
}

.secondary-filter-checkbox::after {
	content: '\f00c';
	opacity: 0;
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: .75em;
	position: absolute;
	top: 0;
	left: 0;
}

.secondary-filter-checkbox:hover::after {
	color: #ebebeb;
	opacity: 1;
	cursor: pointer;
}

.secondary-filter-checkbox:checked::after {
	color: #6F6E6E;
	opacity: 1;
}

.secondary-filter-checkbox:checked {
	border: none;
	transform: scale(1.25);
}

.secondary-filter-checkbox:checked + .secondary-filter-checkbox::after {
	display: block;
}

.category-checkbox ~ label, .secondary-filter-checkbox ~ label {
	cursor: pointer;
}

.secondary-filter-checkbox ~ label {
	text-transform: uppercase;
}
	
.category-checkbox:checked ~ label, .secondary-filter-checkbox:checked ~ label {
	font-weight: bold;
	color: #222;
}

.dropdown-header-text:hover, .category-checkbox ~ label:hover {
	font-weight: bold;
}
	
					/* ================================ end Toggle ================================ */
.toggle-wrapper {
	position: relative;
	font-size: 14px;
	font-weight: 400;
}

.primary-filter__categories, .trending-filter__categories, .size-filter__categories, .price-filter__categories {
	display: none;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	outline: focus-visible;
	padding: 0 16px;
	color: #e8e8e8;
	font-family: inherit;
	font-size: 24px;
	line-height: 28px;
}

.filters-primary .toggle-wrapper {
	overflow: visible;
}

#filter-toggle:hover ~ label span {
	color: #636363;
}

.category-filter-icon {
	fill: #000;
	margin-left: 10px;
	z-index: 2;
	position: relative;
}
	
#filter-toggle:hover ~ 
.category-filter-icon {
	fill: #636363;
}
	
#filter-toggle:checked ~ label span {
	color: #f16d7f;
}
	
#filter-toggle:checked ~ .category-filter-icon {
	fill: #f16d7f;
}
	
.primary-filter:hover .filter-btn-text, .primary-filter:hover .category-filter-icon {
	color: #636363;
	fill: #636363;
}
	
.category-filter-icon {
	fill: #000;
	margin-left: 10px;
}
	
[id*="toggle"] ~ label {
	cursor: pointer;
	text-align: left;
	z-index: 2;
	position: relative;
}

#filter-toggle:checked ~ .primary-filter__categories {
	display: block;
}

#trending-toggle:checked ~ .trending-filter__categories {
	display: block;
}

#size-toggle:checked ~ .size-filter__categories {
	display: block;
}

#price-toggle:checked ~ .price-filter__categories {
	display: block;
}

/* ================================ end Primary Filters ================================ */

/* ================================ trending Filters ================================ */

.filters-secondary {
	display: flex;
	flex-direction: row;
}

.secondary-filter-dropdown-header {
	background: none;
	border: none;
	cursor: pointer;
	outline: focus-visible;
	list-style-type: none;
	padding: 0 10px 0 0;
	margin-right: 28px;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	color: #6F6E6E;
	text-transform: uppercase;
	font-size: 14px;
	user-select: none;text-align: center;
}

.secondary-filter-dropdown-header:hover {
	color: #222;
}

.filter-btn-text {
	color: #000;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
	margin-left: 14px;
}

/* ================================ Category Block ================================ */

.category-block {
	min-width: 1140px;
	padding: 65px 0 96px 0;
	margin: 0 auto;
	box-sizing: border-box;
	}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 96px auto;
}

.pagination-list {
	display: block;
	padding: 12px 15px;
}

.pagination-list-item {
	display: block;
	margin: 0 9px;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
	user-select: none;
}

.pagination-list-item:nth-of-type(2) {
	color: #f16d7f;
}

.pagination-list-item:hover {
	font-weight: 700;
}

.pagination-list-item svg:hover {
	fill: #f16d7f;
}

.pagination > ul {
	list-style-type: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #EBEBEB;
	border-radius: 2px;
}

.pagination-arrow-icon {
	display: flex;
	flex-direction: row;
	align-self: center;
}

.pagination-arrow-icon {
	fill: #000;
	height: 14px;
}

.page-number {
	text-decoration: none;
	color: #5D5D5D;
}

/* Задал те же стили селекторам секций */
.product-block, .features-block {
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
	box-sizing: border-box;
}

.category-container, .product-container, .features-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.category-tile {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 360px;
	min-height: 260px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
}

.category-left {
	background: linear-gradient(rgba(33,22,22,0.7), rgba(33,22,22,0.7)), url('../img/category-tile-left.png');
}

.category-center {
	background: linear-gradient(rgba(33,22,22,0.7), rgba(33,22,22,0.7)), url(../img/category-tile-center.png);
}

.category-right {
	background: linear-gradient(rgba(33,22,22,0.7), rgba(33,22,22,0.7)), url(../img/category-tile-right.png);
}

.category-tile-full-width {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1140px;
	height: 180px;
	box-sizing: border-box;
	background: linear-gradient(rgba(33,22,22,0.7), rgba(33,22,22,0.7)), url(../img/category-tile-full-width.png);
	background-repeat: no-repeat;
	background-position: center;
}

.category-name-first-line {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	text-transform: uppercase;
}

.punchline {
	font-size: 24px;
	font-weight: 700;
	line-height: 28.8px;
	text-transform: uppercase;
}

/* ================================ end Category Block ================================ */

/* ================================ Product Block ================================ */

.products {
	padding-bottom: 95px;
	margin: 0 auto;
}

.h2-block {
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.h2-candidate-featured-items {
	display: block;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	margin: 0 auto;
	text-transform: capitalize;
}

.featured-items-subtitle {
	font-size: 14px;
	line-height: 16.8px;
	margin: 0 auto;
	color: #9F9F9F;
	padding-bottom: 48px;
}

.product-container {
	padding-bottom: 48px;
	position: relative;
}

.product-tile {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 360px;
	min-height: 260px;
	box-sizing: border-box;
	background: #F8F8F8;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.product-tile:hover {
	transform: scale(1.05);
}

.product-image {
	align-self: center;
	position: relative;
	display: block;
	width: auto;
	height: 420px;
}

.product-image-overlay {
	display: none;
	position: absolute;
	top: 0;
	background: rgb(58, 56, 56);
	background: rgba(58, 56, 56, 0.86);
	color: #e8e8e8;
	width: 360px;
	height: 420px;
	opacity: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.product-tile:hover .product-image-overlay {
	opacity: 1;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	box-sizing: border-box;
}

.add-to-cart-button {
	display: flex;
	flex-direction: row;
	width: 138px;
	max-height: 43px;
	overflow: hidden;
	align-self: center;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 8px;
	cursor: pointer;
	border: 1px solid #fff;
}

.add-to-cart-icon {
	width: 26px;
	height: 24px;
	padding-right: 8px;
	fill: #fff;
}

.add-to-cart-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	background-color: transparent;
	color: #e8e8e8;
	border: none;
	cursor: pointer;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	outline: focus-visible;
}

.add-to-cart-button:hover .add-to-cart-icon {
	fill: #F16D7F;
}

.product-title {
	display: block;
	margin: 0 auto;
	font-size: 13px;
	font-weight: normal;
	line-height: 15.6px;
	text-transform: uppercase;
	margin: 25px 0 12px 18px;
	text-align: left;
	align-self: start;
	color: #000000;
}

.product-subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 16.8px;
	margin: 0 0 18px 18px;
	color: #5D5D5D;
}

.product-price {
	font-size: 16px;
	font-weight: normal;
	line-height: 19.2px;
	margin: 0 0 20px 18px;
	color: #F16D7F;
	align-self: start;
}

.category-view-button {
	display: flex;
	width: 211px;
	padding: 13px;
	box-sizing: border-box;
	margin: 0 auto;
	min-height: 47px;
	color: #F26376;
	text-align: center;
	text-decoration: none;
	word-break: break-all;
	border: 1px solid #F26376;
}

.category-view-button-text {
	margin: auto;
}

.category-view-button:hover {
	background: #F26376;
	color: #fff;
}
					

/* ================================ end Product Block ================================ */

/* ================================  Product Page Block ================================ */

.product-content {
margin-bottom: 128px;
}

.product-image-carousel {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
    flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	background-color: #F7F7F7;
	min-height: 777px;
}

.product-featured-image {
	margin: 0 auto;
	position: relative;
}

.product-gallery-navigation {
	display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	width: 48px;
	height: 48px;
	background-color: #262A2A2A;
	cursor: pointer;
	}

.product-gallery-navigation:hover {
	transform: scale(1.25);
	color: #F16D7F;
}

.product-description-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
}

.product-description {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
    justify-content: flex-start;
	width: 71.25%;
	min-height: 600px;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	position: relative;
	top: -65px;
	padding: 65px 250px;
	box-sizing: border-box;
}



.product-description-category-name, .product-description-product-title, .product-description-product-price, .product-description-options, .product-description-buy-button, .product-description-category-name {
	display: block;
}

.product-description-category-name, .product-description-product-title {
	text-transform: uppercase;
}

.product-description-category-name {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;

}

.product-description-product-title {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	color: #4D4D4D;
	margin-bottom: 48px;
}

.product-description-text {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	color: #5E5E5E;
	margin-bottom: 32px;
}

.product-description-separator {
	color: #EF5B70;
	height: 0px;
	width: 10%;
	margin: 12px auto;
	border-top: 3px solid #EF5B70;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.product-description-separator-bottom {
	border-top: 1px solid #eaeaea;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	width: 100%;
	margin: 65px auto;
}

.product-description-product-price {
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;	
}

.product-options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 48px;
	justify-content: space-between;
}

.product-option-header {
	text-align: center !important;
}

.product-cart-button {
	border: 1px solid #F26376;
	min-width: 210px;
}

.product-cart-icon {
	fill: #F26376;
}

.product-cart-button:hover {
	border: 1px solid #222;
	min-width: 210px;
}

.product-cart-button:hover .product-cart-icon {
	fill: #222;
}

/* ================================ end Product Page Block ================================ */

/* ================================ Features Block ================================ */

.features {
	display: flex;
	width: 100%;
	background: #222224;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	flex-direction: row;
}

.features-container {
	padding: 103px 0;
}

.features-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 360px;
	min-height: 92px;
	box-sizing: border-box;
}

.feature-icon {
	align-self: center;
	padding-bottom: 28px;
}

.feature-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #FBFBFB;
	padding-bottom: 16px;
}

.feature-text {
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
}

/* ================================ end Features Block ================================ */

/* ================================ News & Promo ================================ */

.news-and-promo {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	position: relative;
	max-width: 1600px;
	min-height: 448px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: 0 0;
	background: rgba(244,244,244,.7) url('../img/subscription-block-bg.jpg');
	background-blend-mode: color;
}

.epigraph-block {
	width: 360px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.epigraph-block-avatar {
	align-self: center;
	padding-bottom: 30px;
}

.epigraph-block-content {
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-style: italic;
}

.subscription-block {
	width: 360px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.subscription-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	text-transform: uppercase;
}

.subscription-subtitle {
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	padding-bottom: 32px;
}

.subscription-form-email {
	background: #E1E1E1;
	min-height: 49px;
	color: #222224;
	border: none;
	border-radius: 50px 0 0 50px;
	padding: 0 22px;
	outline: focus-visible;
	box-sizing: border-box;
}

.subscription-form-button {
	background: #F16D7F;
	min-height: 49px;
	color: #fff;
	border: none;
	border-radius: 0 50px 50px 0;
	padding: 0 22px;
	outline: focus-visible;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-transform: capitalize;
	box-sizing: border-box;
	cursor: pointer;
	margin-left: -3px;
}

.subscription-form-button:hover {
	color: #222224;
}
					

/* ================================ end News & Promo ================================ */

/* ================================ Footer ================================ */

.page-footer {
	clear: both;
	min-height: 79px;
	position: relative;
	bottom: 0;
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #222224;
	margin-top: auto;
	color: #FBFBFB;
}

.footer-container {
	min-width: 1600px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.page-footer-socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.page-footer-socials-button {
	display: flex;
	width: 32px;
	min-height: 32px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	margin: 0 8px;
	background-color: #fff;
}

.page-footer-socials-button:hover {
	background-color: #F16D7F;
}

/* ================================ end Footer ================================ */

/* ===================== WIP ========================= */
/* works! */

/* .primary-filter {
	outline: focus-visible;
} */

/* .primary-filter input, .category-checkbox {
opacity: 0;
width: 0;
height: 0;
} */

/* #filter-toggle:hover + div {
	display: block;
	float: left;
} */

/* .trending-filter {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	color: #222;
	text-transform: uppercase;
	font-size: 14px;
} */

/* .primary-filter:hover .primary-filter__categories {
	display: block;
	float: left;
} */

/* end works */

/* .filter-lists {
	display: none;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
} */

/* .primary-filter:hover .category-filter-icon {
	fill: #636363;
} */

/* .filter-btn-text::after, .filters-trending >li::after {
	margin-left: 10px;
	content: "\f078";
} */

/* input[type="checkbox"]#filter-toggle:hover .filter-btn-text. {
	color: #F16D7F;
	fill: #F16D7F;
} */

/* mary-filter:checked, input:hover+label, input:chekced+label > .primary-filter__categories {
	display: block;
	float: left;
} */
/* .filters-primary:active > .filter-lists, .primary-filter__categories {
	display: block;
} */

/* .category-checkbox {
	display: inline-block;
} */

/* .toggle-wrapper input[type="checkbox"] {
	float: right;
} */

/* aside .primary-filter__categories li {
	padding-left: 20px;
	border-bottom: 1px solid #eeedee;
	border-left: 5px solid rgba(101, 110, 127, 0.34);
	width: 100%;
	margin-left: -15px;
	overflow: hidden;
} */

/* #navbar {
	display: flex;
	flex-direction: column;
	align-items: start;
} */

/* #navbar label span:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
} */
	
/* #navbar label span {
	color: #000;
	margin: 0 auto;
	font-size: 14px;
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
} */
	
/* #navbar ul .divider {
	height: 1px;
	margin: 11px 0;
	overflow: hidden;
	background-color: #e5e5e5;
} */
	
/* #navbar label span:focus {
	background-color: #e6e6e6;
}
	
#navbar label span:active {
	color: #f16d7f;
	outline: 0;
} */


/* .toggle-wrapper div[class*="primary-filter__categories"] {
	overflow: hidden;
	box-sizing: border-box;
	display: none;
} */

/* .fa-chevron-left, .fa-chevron-right {
	position: absolute;
	top: 50%;
}
.product-gallery-navigation::before {	
	left: 0%;
}

.product-gallery-navigation::after {
	right: 0%;
} */

/* .product-gallery-navigation::before, .product-gallery-navigation::after {
	border: 3px solid #fff;
	background-color: #2A2A2A, 15%;
	content: '';
    border-top: none;
    border-right: none;
    transform: rotateZ(45deg);
    left: 50%;
	display: block;
    width: 13px;
    height: 21px;
    position: absolute;
    top: 50%;
	font-family: ;
    font-size: 30px;
    font-style: normal;
} */

/* .product-image-carousel {
justify-content: space-between;
} */

/* ===================== end WIP ========================= */