/* ================================ General ================================ */

/* eradicate */
* {
	padding: 0;
}

*:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
	outline: 0;
}


*:focus-visible,
input:focus-visible {
	outline: 1px solid #F16D7F;
}

/* end eradicate */

main {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
}

.black-text {
	color: #222222;
}

.hero,
.categories,
.products,
.features-block {
	width: 100%;
	max-width: 1140px;
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
}

@media only screen and (max-width: 769px) {

	.hero,
	.products,
	.features-block {
	max-width: 768px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
	}

	.products {
	padding: 0 16px 65px 16px;
	}
}

.pink-text {
	color: #F16D7F !important;
}

/* ================================ end General ================================ */


/* ================================ Header ================================ */

.header,
.page-footer {
	width: 100%;
	min-height: 75px;
	padding: 18px 0;
	box-sizing: border-box;
	z-index: 1;
	top: 0;
	left: 0;
	background: #222222;
	color: #E8E8E8;
}

.navigation-container,
.footer-container {
	position: relative;
	width: 100%;
	max-width: 1140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}

.topline-navigation {
	width: 100%;
	max-width: 1600px;
	display: flex;
	flex-grow: inherit;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.menu__logo {
	float: left;
	width: 44px;
	padding-right: 41px;
}

.search-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.search-group>label {
	width: 26px;
	cursor: pointer;
}

.search-input-icon {
	fill: #E8E8E8;
}

.search-input-icon:active {
	fill: #F16D7F;
}

#search-input {
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	padding: 0 16px;
	color: #e8e8e8;
	font-family: inherit;
	font-size: 24px;
	line-height: 28px;
	margin-left: 4px;
}

#search-input:focus {
	width: 375px;
	padding: 2px 8px;
	margin-left: 16px;
	border-left: 2px solid #F16D7F;
}

.menu-main {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.menu-tray {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.menu-main>form,
.menu-tray>button,
.menu-main>form:focus,
.menu-tray>button:focus {
	background: none;
	border: none;
	cursor: pointer;
}

.menu-button-icon {
	padding: 0 16px;
	fill: #E8E8E8;
}

.search-input-icon:hover,
.menu-button-icon:hover {
	fill: #fff;
}

@media only screen and (max-width: 769px) {
	.header {
	padding: 18px 32px;
	}
}

@media only screen and (max-width: 376px) {
	.header {
	padding: 16px;
	}

	.account-button,
	.cart-button {
	visibility: hidden;
	height: 0;
	width: 0;
	box-sizing: border-box;
	}

	#search-input,
	#search-input:focus {
	margin-left: 2px;
	max-width: 182px;
	font-size: 14px;
	}

	.menu-button-icon {
	padding: 0;
	}
}

/* ================================ end Header ================================ */

/* ================================ Hero ================================ */

.hero-screen {
	height: 100%;
	min-height: 764px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	box-sizing: border-box;
	background: #F1E4E6;
}

.hero__box {
	width: 100%;
	max-width: 1600px;
	min-height: 768px;
	max-height: 768px;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	box-sizing: border-box;
	background-image: url(../img/hero-screen-image.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
}

#page-title {
	position: relative;
	right: 20%;
	padding-left: 16px;
	border-left: 12px solid #F16D7F;
	width: 405px;
	max-height: 92px;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: center;
}

.title-first-line {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
}

.title-second-line {
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	display: flex;
}

@media only screen and (max-width: 769px) {

	.hero-screen,
	.hero__box {
	max-height: 368px;
	min-height: 368px;
	}

	#page-title {
	max-width: 310px;
	right: 0%;
	}

	.title-first-line {
	font-size: 44px;
	line-height: 52.8px;
	}

	.title-second-line {
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	line-height: 28.8px;
	}
}

@media only screen and (max-width: 376px) {
	.hero__box {
	background-image: none;
	}

	#page-title {
	max-width: 263px;
	right: 0%;
	}

	.title-first-line {
	font-size: 38px;
	line-height: 45.6px;
	}

	.title-second-line {
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	}
}

/* ================================ end Hero ================================ */

/* ================================ Category Page ================================ */

.page-title-block {
	flex-grow: 1;
	min-height: 148px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin: 0;
	background: #F8F3F4;
}

.page-title__box {
	width: 100%;
	max-width: 1600px;
	max-height: 148px;
	padding: 0 230px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.page-title__box {
	padding: 0 16px;
	}
}

@media only screen and (max-width: 376px) {
	.page-title__box {
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	flex-wrap: wrap;
	}
}

.page-title-text {
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 29px;
}

.breadcrumb {
	text-transform: uppercase;
	color: #636363;
	text-decoration: none;
	font-weight: 300;
	font-style: normal;
}

.breadcrumb:hover {
	color: #000;
}

.breadcrumb:last-child {
	color: #F16D7F;
	font-weight: 700;
	font-style: normal;
}

/* ================================ Primary Filters ================================ */

.fa-chevron-down {
	width: 10px;
	height: 5px;
	font-size: 12px;
	margin-left: 10px;
}

.filters-primary {
	width: 360px;
	padding: 0 30px 0 0;
	user-select: none;
	position: relative;
}

.filters-container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding: 65px 0;
}

/* ================================ Toggle ================================ */

.dropdown-header,
.dropdown-subcategory-item,
.dropdown-filter-item {
	list-style: none;
}

.dropdown-filter-item {
	font-family: 'Roboto', sans-serif;
	color: #6F6E6E;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.dropdown-filter-item:last-of-type {
	margin-bottom: 0;
}

.dropdown-menutoggle,
.dropdown-trending,
.dropdown-size,
.dropdown-price {
	background: #fff;
	position: absolute;
	display: block;
	float: left;
	box-sizing: border-box;
	margin: 32px 0 0 0;
	background-clip: padding-box;
	box-shadow: 6px 4px 35px 0px #00000036;
}

.dropdown-trending,
.dropdown-size,
.dropdown-price {
	padding: 9px 10px 12px 10px;
	top: -50%;
	left: -5%;
}

/* z-index разный чтобы чекбоксы можно было чекнуть даже если предыдущий блок налезет на следующий (зум > 200%) */
.dropdown-menutoggle {
	padding: 46px 17px 17px 17px;
	top: -45px;
	left: 0;
	width: 100%;
	max-width: 360px;
	z-index: 3;
}

@media only screen and (max-width: 376px) {
	.dropdown-menutoggle {
	min-width: 375px;
	}
}

.dropdown-trending {
	min-width: 175px;
	z-index: 2;
}

.dropdown-size {
	min-width: 86px;
	z-index: 2;
}

.dropdown-price {
	min-width: 178px;
	z-index: 2;
}

.dropdown-header-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #EF5B70;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	min-height: 37px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 24px;
	cursor: pointer;
}

.dropdown-header-text::before {
	content: '';
	min-height: 37px;
	z-index: 1;
	position: relative;
	border: 5px solid;
	border-width: 0 0 0 5px;
	border-color: #EF5B70;
	margin-right: 11px;
}

.subcategories li {
	position: relative;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #6F6E6E;
	margin-bottom: 11px;
}

.subcategories li:last-child {
	margin-bottom: 24px;
}

/* переделать*/
.dropdown-menutoggle>li:last-child>span {
	margin-bottom: 0;
}

.category-checkbox,
.dropdown-checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

.secondary-filter-checkbox {
	width: 12px;
	height: 12px;
	border: 1px solid #ebebeb;
	border-radius: 0;
	margin-right: 10px;
	appearance: none;
	outline: focus-visible;
	position: relative;
}

.secondary-filter-checkbox::after {
	content: '\f00c';
	opacity: 0;
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	font-size: 0.75em;
	position: absolute;
	top: 0;
	left: 0;
}

.category-checkbox~label,
.secondary-filter-checkbox~label {
	cursor: pointer;
}

.secondary-filter-checkbox~label {
	text-transform: uppercase;
}

/* ================================ end Toggle ================================ */

/* ================================ Primary Filters ================================ */

.toggle-wrapper {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

.primary-filter__categories,
.trending-filter__categories,
.size-filter__categories,
.price-filter__categories {
	display: none;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	outline: focus-visible;
	padding: 0 16px;
	color: #e8e8e8;
	font-family: inherit;
	font-size: 24px;
	line-height: 28px;
}

.filters-primary .toggle-wrapper {
	overflow: visible;
}

.category-filter-icon {
	fill: #000;
	margin-left: 10px;
	z-index: 3;
	position: relative;
}

[id*="filter"]~label {
	cursor: pointer;
	text-align: left;
	z-index: 4;
	position: relative;
}

/* ================================ end Primary Filters ================================ */

/* ================================ Trending Filters ================================ */

.filters-secondary {
	display: flex;
	flex-direction: row;
}

.secondary-filter-dropdown-header {
	background: none;
	border: none;
	cursor: pointer;
	outline: focus-visible;
	list-style-type: none;
	padding: 0 10px 0 0;
	margin-right: 28px;
	color: #6F6E6E;
	text-transform: uppercase;
	font-size: 14px;
	user-select: none;
	text-align: center;
}

@media only screen and (max-width: 376px) {
	.secondary-filter-dropdown-header {
	margin-right: 4px;
	}

	.fa-chevron-down {
	margin-left: 4px;
	}
}

.filter-btn-text {
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
	background-color: transparent;
	margin-left: 14px;
	word-break: break-all;
}

@media only screen and (max-width: 376px) {
	.filters-primary {
	max-width: 70px;
	}

	.filter-btn-text {
	display: none;
	}
}

/* ================================ end Trending Filters ================================ */

/* ================================ Filters -- effects ================================ */

.secondary-filter-dropdown-header:hover {
	color: #222;
}

.secondary-filter-checkbox:hover::after {
	color: #ebebeb;
	opacity: 1;
	cursor: pointer;
}

.secondary-filter-checkbox:checked::after {
	color: #6F6E6E;
	opacity: 1;
	top: 8%;
	left: 8%;
}

.secondary-filter-checkbox:checked {
	border: none;
	transform: scale(1.25);
}

.secondary-filter-checkbox:checked+.secondary-filter-checkbox::after {
	display: block;
}

.category-checkbox:checked~label,
.secondary-filter-checkbox:checked~label {
	font-weight: bold;
	color: #222;
}

.dropdown-header-text:hover,
.category-checkbox~label:hover {
	font-weight: bold;
}

.primary-filter:hover .filter-btn-text,
.primary-filter:hover .category-filter-icon {
	color: #636363;
	fill: #636363;
}

#filter-toggle:hover~label span {
	color: #636363;
}

#filter-toggle:hover~.category-filter-icon {
	fill: #636363;
}

/* не работает просто по классу */
#filter-toggle:checked~label[for="filter-toggle"] .filter-btn-text {
	color: #f16d7f;
}

#filter-toggle:checked~label[for="filter-toggle"] .category-filter-icon {
	fill: #f16d7f;
}

#filter-toggle:checked~.primary-filter__categories {
	display: block;
}

#trending-toggle:checked~.trending-filter__categories {
	display: block;
}

#size-toggle:checked~.size-filter__categories {
	display: block;
}

#price-toggle:checked~.price-filter__categories {
	display: block;
}

/* ================================ end Filters -- effects ================================ */

/* ================================ Category Block ================================ */

.category-block {
	width: 100%;
	max-width: 1140px;
	padding: 65px 0 96px 0;
	margin: 0 auto;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.category-block {
	max-width: 768px;
	padding: 20px 16px 154px 16px;
	margin: 0 auto;
	}
}

@media only screen and (max-width: 376px) {
	.category-block {
	padding: 64px 16px;
	}
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 96px auto;
}

.pagination-list {
	display: block;
	padding: 12px 15px;
}

.pagination-list-item {
	display: block;
	margin: 0 9px;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	line-height: 19px;
	user-select: none;
}

.pagination-list-item:nth-of-type(2) {
	color: #f16d7f;
}

.pagination-list-item:hover {
	font-weight: 700;
}

.pagination-list-item svg:hover {
	fill: #f16d7f;
}

.pagination>ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #EBEBEB;
	border-radius: 2px;
}

.pagination-arrow-icon {
	display: flex;
	flex-direction: row;
	align-self: center;
	fill: #000;
	height: 14px;
}

.page-number {
	text-decoration: none;
	color: #5D5D5D;
}

/* Задал те же стили селекторам секций */
.product-block,
.features-block {
	margin: 0 auto;
	width: 100%;
	max-width: 1140px;
	position: relative;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.product-block {
	max-width: 768px;
	padding: 0 16px;
	margin: 0 auto;
	}
}

@media only screen and (max-width: 376px) {
	.product-block {
	max-width: 375px;
	padding: 0 8px;
	}
}

.category-container,
.product-container,
.features-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.category-tile {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 360px;
	height: 100%;
	min-height: 260px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.category-left {
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url('../img/category-tile-left.png');
	background-size: contain;
}

.category-center {
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-center.png);
	background-size: contain;
}

.category-right {
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-right.png);
	background-size: contain;
}

.category-tile-full-width {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 180px;
	box-sizing: border-box;
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-full-width.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

@media only screen and (max-width: 769px) {
	.category-tile {
	max-width: 232px;
	min-height: 168px;
	}

	.category-tile-full-width {
	min-height: 116px;
	}
}

@media only screen and (max-width: 376px) {
	.category-container {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}

	.category-tile {
	margin-bottom: 32px;
	max-width: 343px;
	min-height: 247px;
	}

	#row1 {
	padding-bottom: 0;
	}

	.category-tile-full-width {
	min-height: 111px;
	background-size: cover;
	}
}

.category-name-first-line {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 19px;
	text-transform: uppercase;
}

.punchline {
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: 28.8px;
	text-transform: uppercase;
}

/* ================================ end Category Block ================================ */

/* ================================ Product Block ================================ */

.products {
	padding: 0 0 95px 0;
	margin: 0 auto;
}

.h2-block {
	margin: 0 auto;
	width: 100%;
	max-width: 1140px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.h2-candidate-featured-items {
	display: block;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	line-height: 36px;
	margin: 0 auto;
	text-transform: capitalize;
}

.featured-items-subtitle {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin: 0 auto;
	color: #9F9F9F;
	padding-bottom: 48px;
}

.product-container {
	padding-bottom: 48px;
	position: relative;
}

@media only screen and (max-width: 376px) {
	.featured-items-subtitle {
	padding-bottom: 64px;
	}

	.product-container {
	padding-bottom: 40px;
	}
}

.product-tile {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 360px;
	box-sizing: border-box;
	background: #F8F8F8;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.product-tile:hover {
	transform: scale(1.05);
}

@media only screen and (max-width: 769px) {
	.product-tile:nth-of-type(3) {
	visibility: hidden;
	width: 0;
	height: 0;
	box-sizing: border-box;
	}
}

.product-image {
	align-self: center;
	position: relative;
	display: block;
	width: auto;
	height: 420px;
}

.product-image-overlay {
	display: none;
	position: absolute;
	top: 0;
	background: rgb(58, 56, 56);
	background: rgba(58, 56, 56, 0.86);
	color: #e8e8e8;
	width: 360px;
	height: 420px;
	opacity: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.product-tile:hover .product-image-overlay {
	opacity: 1;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	box-sizing: border-box;
}

.add-to-cart-button {
	display: flex;
	flex-direction: row;
	width: 138px;
	max-height: 43px;
	overflow: hidden;
	align-self: center;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 8px;
	cursor: pointer;
	border: 1px solid #fff;
	background: none;
}

.add-to-cart-icon {
	width: 26px;
	height: 24px;
	padding-right: 8px;
	fill: #fff;
}

.add-to-cart-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	background-color: transparent;
	color: #e8e8e8;
	border: none;
	cursor: pointer;
	outline: focus-visible;
}

.add-to-cart-button:hover .add-to-cart-icon {
	fill: #F16D7F;
}

.product-title {
	display: block;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.6px;
	text-transform: uppercase;
	margin: 25px 0 12px 18px;
	text-align: left;
	align-self: start;
	color: #000000;
}

.product-subtitle {
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin: 0 0 18px 18px;
	color: #5D5D5D;
}

.product-price {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	margin: 0 0 20px 18px;
	color: #F16D7F;
	align-self: start;
}

.category-view-button {
	display: flex;
	width: 211px;
	padding: 13px;
	box-sizing: border-box;
	margin: 0 auto;
	min-height: 47px;
	color: #F26376;
	justify-content: center;
	text-decoration: none;
	word-break: break-all;
	border: 1px solid #F26376;
}

.category-view-button:hover {
	background: #F26376;
	color: #fff;
}


/* ================================ end Product Block ================================ */

/* ================================Product Page Block ================================ */

.product-content {
	margin-bottom: 128px;
}

.product-image-carousel {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	background-color: #F7F7F7;
	min-height: 777px;
}

.product-featured-image {
	width: 597px;
	height: 724px;
	margin: 0 auto;
	position: relative;
}

@media only screen and (max-width: 769px) {
	.product-image-carousel {
	min-height: 624px;
	}

	.product-featured-image {
	width: 466px;
	height: 565px;
	}
}

.product-gallery-navigation {
	display: flex !important;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background-color: #262A2A2A;
	cursor: pointer;
}

.product-gallery-navigation:hover {
	transform: scale(1.25);
	color: #F16D7F;
}

@media only screen and (max-width: 376px) {

	.btn-prev,
	.btn-next {
	position: absolute;
	top: 50%;
	z-index: 1;
	}

	.btn-prev {
	left: 0;
	}

	.btn-next {
	right: 0;
	}
}

.product-description-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
}

.product-description {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 71.25%;
	min-height: 600px;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	position: relative;
	top: -65px;
	padding: 65px 250px;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.product-description {
	width: 100%;
	padding: 65px;
	top: 0%;
	}
}

@media only screen and (max-width: 376px) {
	.product-description {
	padding: 25px;
	}

	.product-content {
	margin-bottom: 64px;
	}
}


.product-description-category-name,
.product-description-product-title,
.product-description-product-price,
.product-description-options,
.product-description-buy-button,
	{
	display: block;
}

.product-description-category-name,
.product-description-product-title {
	text-transform: uppercase;
}

.product-description-category-name {
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;

}

.product-description-product-title {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	color: #4D4D4D;
	margin-bottom: 48px;
}

.product-description-text {
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	color: #5E5E5E;
	margin-bottom: 32px;
}

.product-description-separator {
	color: #EF5B70;
	height: 0px;
	width: 10%;
	margin: 12px auto;
	border-top: 3px solid #EF5B70;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.product-description-separator-bottom {
	border-top: 1px solid #eaeaea;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	width: 100%;
	margin: 65px auto;
}

.product-description-product-price {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
}

.product-options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 48px;
	justify-content: space-between;
}

.product-option-header {
	text-align: center !important;
}

@media only screen and (max-width: 376px) {
	.product-description-separator-bottom {
	width: 50%;
	margin: 32px auto 49px auto;
	}

	.product-options {
	flex-wrap: nowrap;
	}

	.product-option-header {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	}
}

.product-cart-button {
	border: 1px solid #F26376;
	min-width: 210px;
}

.product-cart-icon {
	fill: #F26376;
}

.product-cart-button:hover {
	border: 1px solid #222;
	min-width: 210px;
}

.product-cart-button:hover .product-cart-icon {
	fill: #222;
}


/* ================================ end Product Page Block ================================ */

/* ================================ Cart Block ================================ */

.cart-container,
.sign-up-container {
	width: 100%;
	max-width: 1140px;
	margin: 96px auto 128px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

@media only screen and (max-width: 769px) {

	.cart-container,
	.sign-up-container {
	max-width: 768px;
	padding: 60px 16px 128px 16px;
	margin: 0 auto;
	box-sizing: border-box;
	}
}

@media only screen and (max-width: 376px) {

	.cart-container,
	.sign-up-container {
	max-width: 375px;
	padding: 40px 8px 48px 8px;
	margin: 0 auto;
	box-sizing: border-box;
	}
}


.cart-col-left,
.cart-col-right {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	columns: 1;
}

@media only screen and (max-width: 769px) {

	.cart-col-left,
	.cart-col-right {
	width: 100%;
	}
}

.cart-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	max-width: 652px;
	box-shadow: 17px 19px 24px 0px #00000021;
	margin-bottom: 40px;
	box-sizing: border-box;
}

.cart-item-title {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 42px;
}

.cart-item:last-of-type {
	margin-bottom: 72px;
}

.product-link {
	display: inline-flex;
}

.product-miniature {
	width: 262px;
	height: 306px;
}

.product-info {
	padding: 22px 31px;
	box-sizing: border-box;
}

.cart-item-option-row {
	margin: 6px 0;
}

.cart-item-option-label,
.cart-item-option-value {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	color: #575757;
}

.cart-item-option-label::after {
	display: inline-flex;
	content: '';
	height: 0;
	width: 1%;
}

.prodyct-qty {
	max-width: 42px;
	border: 1px solid #EAEAEA;
	border-radius: 0%;
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(101, 101, 101, 1);
}
			
.cart-item:hover {
	transform: scale(1.05);
}

.cart-item:hover .cart-item-title,
.cart-item:hover .cart-item-option-value,
.cart-item:hover .prodyct-qty {
	color: #222;
	font-weight: 700;
}

.manage-cart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 652px;
}

.clear-cart {
	width: 235px;
}

.return-to-shop {
	width: 225px;
	text-align: center;
	;
}

.clear-cart,
.return-to-shop {
	max-height: 50px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 16px 0;
	cursor: pointer;
	border: 1px solid #a4a4a4;
	background-color: inherit;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.shipping-info-heading {
	display: block;
	margin-bottom: 21px;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0em;
	color: #222222;
	text-transform: uppercase;
}

.shipping-info {
	min-height: 45px;
	width: 360px;
	border: 1px solid #a4a4a4;
	border-radius: 0px;
	margin-bottom: 21px;
	padding: 13px 17px;
	box-sizing: border-box;
}

.shipping-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.quote-btn {
	color: #4A4A4A;
	width: 100px;
	height: auto;
	padding: 11px 14px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid #4a4a4a;
	cursor: pointer;
	margin-bottom: 69px;
	word-break: break-all;
}

.quote-btn:hover {
	color: #F16D7F;
	border: 1px solid #F16D7F;
}

.order-price-block {
	max-width: 360px;
	max-height: 214px;
	padding: 39px 34px 42px 44px;
	box-sizing: border-box;
	background: #F5F3F3;
	font-style: normal;
	text-transform: uppercase;
}

.price-subtotal {
	font-size: 11px;
	font-weight: 400;
	color: #4A4A4A;
	text-align: right;
	margin-bottom: 12px;
}

.price-total {
	font-size: 16px;
	font-weight: 300;
	color: #222;
	text-align: right;
	margin-bottom: 21px;
}

.total-price {
	font-size: 16px;
	font-weight: 700;
	text-align: right;
}

.subtotal::after,
.grand-total::after {
	display: inline-flex;
	content: '';
	height: 0;
	width: 5%;
}

.price-total::after {
	content: '';
	display: block;
	width: 275px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 17px;
	padding-top: 21px;
}

.checkout-btn {
	width: 273px;
	max-height: 50px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 16px;
	cursor: pointer;
	border: none;
	background-color: #F16D7F;
	color: #fff;
	text-transform: uppercase;
	word-break: break-all;
}

.checkout-btn:hover,
.clear-cart:hover,
.return-to-shop:hover,
.sign-up-button:hover {
	background-color: inherit;
	color: #F16D7F;
	border: 1px solid #F16D7F;
}

.sign-up-button:hover .btn-arrow-icon {
	fill: #F16D7F;
}

@media only screen and (max-width: 769px) {
	.cart-item {
	max-width: 734px;
	}

	.manage-cart {
	max-width: 100%;
	justify-content: space-around;
	margin: 0 0 64px 0;
	}

	.shipping-and-checkout {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
}

@media only screen and (min-width: 376px) and (max-width: 769px) {
	.quote-btn {
	margin-bottom: 0;
	}
}

@media only screen and (max-width: 376px) {
	.cart-item {
	max-width: 358px;
	max-height: 188px;
	}

	.product-miniature {
	max-width: 144px;
	max-height: 188px;
	}

	.product-info {
	padding: 13px 12px 13px 17px;
	}

	.cart-item-title {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	margin-bottom: 26px;
	}

	.cart-item-option-label,
	.cart-item-option-value,
	.prodyct-qty {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	}

	.manage-cart {
	justify-content: space-between;
	margin: 0 0 48px 0;
	}

	.clear-cart,
	.return-to-shop {
	padding: 9px 0;
	font-size: 12px;
	text-transform: capitalize;
	max-width: 175px;
	}

	.shipping-and-checkout {
	flex-direction: column;
	}

}

/* ================================ end Cart Block ================================ */

/* ================================ Registration Block ================================ */

@media only screen and (max-width: 769px) {
	.sign-up-col-right {
	max-width: 360px;
	}
}


.account-holder-name,
.login-details {
	display: block;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	color: #222222;
	text-transform: capitalize;
}

.account-creation-input-personal,
.account-creation-input-account {
	display: block;
	margin-bottom: 20px;
	width: 360px;
	min-height: 45px;
	border: 1px solid #A4A4A4;
	padding: 13px 16px 17px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color: #B1B1B1;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	text-transform: capitalize;
}

.radio-buttons-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 31px 0 33px 0;
}

label[for^="gender"] {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 300;
	color: #000000;
	margin: 0 20px 0 10px;
	user-select: none;
}

input[name^="gender"] {
	cursor: pointer;
}

input[name="gender"]:checked+label {
	font-weight: bold;
}

.password-hint {
	color: #B1B1B1;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	width: 360px;
	margin: 0 0 39px 0;
}

.sign-up-button {
	display: flex;
	justify-content: space-around;
	width: 167px;
	max-height: 50px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 16px;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: #F16D7F;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-arrow-icon {
	height: 15px;
	fill: #fff;
}

.loyalty-heading {
	display: block;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	color: #000000;
	margin: 0 0 22px 0;
}

.loyalty-text,
.loyalty-perks {
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 29px;
	max-width: 652px;
	margin: 0 0 21px 0;
}

.loyalty-perks {
	list-style-image: url('../img/list-checkmark.svg');
	padding-left: 2rem;
}

.loyalty-perks li {
	margin-bottom: 16px;
	padding: 0 0 0 12px;
}

@media only screen and (max-width: 769px) {

	.loyalty-heading,
	.loyalty-text,
	.loyalty-perks {
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 19px;
	}

	.loyalty-heading {
	margin-bottom: 32px;
	}

	.loyalty-perks li {
	padding-left: 8px;
	}
}

@media only screen and (max-width: 376px) {
	.sign-up-col-right {
	margin-bottom: 96px;
	}

	.sign-up-button {
	margin-bottom: 40px;
	}

	.loyalty-heading {
	margin-bottom: 32px;
	}

	.loyalty-perks li {
	margin-bottom: 16px;
	}
}

/* ============================== end Registration Block ============================== */

/* ================================ Features Block ================================ */

.features {
	display: flex;
	width: 100%;
	background: #222224;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	flex-direction: row;
}

.features-container {
	padding: 103px 0;
}

@media only screen and (max-width: 769px) {
	.features-container {
	padding: 0 0 64px 0;
	}
}

@media only screen and (max-width: 769px) {
	.features-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
}

.features-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 360px;
	min-height: 92px;
	box-sizing: border-box;
}

.feature-icon {
	align-self: center;
	padding-bottom: 28px;
}

@media only screen and (max-width: 769px) {
	.feature-icon {
	padding: 48px 0 19px 0;
	}
}

.feature-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #FBFBFB;
	padding-bottom: 16px;
}

.feature-text {
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
}

@media only screen and (max-width: 376px) {
	.feature-text {
	padding: 0 24px;
	}
}

/* ================================ end Features Block ================================ */

/* ================================ News & Promo ================================ */

.news-and-promo {
	display: flex;
	width: 100%;
	max-width: 1600px;
	justify-content: space-around;
	align-items: center;
	position: relative;
	margin: 0 auto;
	background: rgba(244, 244, 244, 0.7) url(../img/subscription-block-bg.jpg);
	background-repeat: no-repeat;
	background-blend-mode: color;
	padding: 97px 0 126px 0;
}

@media only screen and (max-width: 769px) {
	.news-and-promo {
	flex-direction: column;
	padding: 54px 0 140px 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}
}

@media only screen and (max-width: 376px) {
	.news-and-promo {
	padding-bottom: 108px;
	background-position: 20%;
	}
}

.epigraph-block {
	width: 360px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.epigraph-block-avatar {
	align-self: center;
	padding-bottom: 30px;
}

.epigraph-block-content {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-style: italic;
	margin: 0;
}

@media only screen and (max-width: 376px) {
	.epigraph-block-content {
	margin-bottom: 59px;
	}
}

.subscription-block {
	width: 360px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.subscription-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	text-transform: uppercase;
}

.subscription-subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	padding-bottom: 32px;
}

.subscription-form-email {
	background: #E1E1E1;
	min-height: 49px;
	color: #222224;
	border: none;
	border-radius: 50px 0 0 50px;
	padding: 0 22px;
	outline: focus-visible;
	box-sizing: border-box;
}

.subscription-form-button {
	background: #F16D7F;
	min-height: 49px;
	color: #fff;
	border: none;
	border-radius: 0 50px 50px 0;
	padding: 0 22px;
	outline: focus-visible;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-transform: capitalize;
	box-sizing: border-box;
	cursor: pointer;
	margin-left: -3px;
}

.subscription-form-button:hover {
	color: #222224;
}


/* ================================ end News & Promo ================================ */

/* ================================ Footer ================================ */

.page-footer {
	clear: both;
	height: 100%;
	min-height: 79px;
	position: relative;
	bottom: 0;
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	background-color: #222224;
	margin-top: auto;
	color: #FBFBFB;
}

@media only screen and (max-width: 769px) {
	.page-footer {
	padding: 24px 32px;
	}
}

.footer-container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 769px) {
	.footer-container {
	max-width: 768px;
	justify-content: space-between;
	}
}

@media only screen and (max-width: 376px) {
	.page-footer {
	padding: 42px 0 9px 0;
	}

	.footer-container {
				flex-flow: column-reverse;
	flex-direction: column;
	}
}

.page-footer-socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.page-footer-socials-button {
	display: flex;
	width: 32px;
	min-height: 32px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	margin: 0 8px;
	background-color: #fff;
}

.page-footer-socials-button:hover {
	background-color: #F16D7F;
}
