/* ================================ General ================================ */

/* eradicate */
* {
	padding: 0;
}

*:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
	outline: 0;
}


input:focus-visible {
	outline: 1px solid #F16D7F;
}

/* end eradicate */

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

footer {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

/* ================================ Typography ================================ */

.text-l {
	font-size: 1.5rem;
}

.text-n {
	font-size: 1rem;
}

.text-s {
	font-size: 0.875rem;
}

/* ================================ end Typography ================================ */

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;
	margin: 0 auto;
}

.black-text {
	color: #222222;
}

.hero,
.categories,
.products,
.features-block {
	width: 100%;
	max-width: 1140px;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
}

@media only screen and (max-width: 769px) {

	.hero,
	.products,
	.features-block {
	max-width: 768px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
	}

	.products {
	padding: 0 16px 65px 16px;
	}
}

/* ================================ end General ================================ */


/* ================================ Header ================================ */

.header,
.page-footer {
	width: 100%;
	min-height: 75px;
	padding: 18px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
	top: 0;
	left: 0;
	background: #222222;
	color: #E8E8E8;
}

.navigation-container,
.footer-container {
	position: relative;
	width: 100%;
	max-width: 1140px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 auto;
}

.topline-navigation {
	width: 100%;
	max-width: 1600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: inherit;
	    -ms-flex-positive: inherit;
	        flex-grow: inherit;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.menu__logo {
	float: left;
	width: 44px;
	padding-right: 41px;
}

.search-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.search-group>label {
	width: 26px;
	cursor: pointer;
}

.search-input-icon {
	fill: #E8E8E8;
}

.search-input-icon:active {
	fill: #F16D7F;
}

#search-input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	padding: 0 16px;
	color: #e8e8e8;
	font-family: inherit;
	line-height: 28px;
	margin-left: 4px;
}

#search-input:focus {
	width: 375px;
	padding: 2px 8px;
	margin-left: 16px;
	border-left: 2px solid #F16D7F;
}

.menu-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.menu-tray {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.menu-main>form,
.menu-tray>button,
.menu-main>form:focus,
.menu-tray>button:focus {
	background: none;
	border: none;
	cursor: pointer;
}

.menu-button-icon {
	padding: 0 16px;
	fill: #E8E8E8;
}

.search-input-icon:hover,
.menu-button-icon:hover {
	fill: #fff;
}

@media only screen and (max-width: 769px) {
	.header {
	padding: 18px 32px;
	}
}

@media only screen and (max-width: 376px) {
	.header {
	padding: 16px;
	}

	.account-button,
	.cart-button {
	visibility: hidden;
	height: 0;
	width: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

	#search-input,
	#search-input:focus {
	margin-left: 2px;
	max-width: 182px;
	}

	.menu-button-icon {
	padding: 0;
	}
}

/* ================================ end Header ================================ */

/* ================================ Hero ================================ */

.hero-screen {
	height: 100%;
	min-height: 764px;
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #F1E4E6;
}

.hero__box {
	width: 100%;
	max-width: 1600px;
	min-height: 768px;
	max-height: 768px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url(../img/hero-screen-image.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
}

#page-title {
	position: relative;
	right: 20%;
	padding-left: 16px;
	border-left: 12px solid #F16D7F;
	width: 405px;
	max-height: 92px;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-item-align: center;
	    align-self: center;
}

.title-first-line {
	font-family: 'Lato', sans-serif;
	font-size: 3rem;
	font-style: normal;
	font-weight: 900;
}

.title-second-line {
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media only screen and (max-width: 769px) {

	.hero-screen,
	.hero__box {
	max-height: 368px;
	min-height: 368px;
	}

	#page-title {
	max-width: 310px;
	right: 0;
	}

	.title-first-line {
	font-size: 2.75rem;
	line-height: 52.8px;
	}

	.title-second-line {
	font-weight: 700;
	font-style: normal;
	line-height: 28.8px;
	}
}

@media only screen and (max-width: 376px) {
	.hero__box {
	background-image: none;
	}

	#page-title {
	max-width: 263px;
	right: 0;
	}

	.title-first-line {
	font-size: 2.375rem;
	line-height: 45.6px;
	}

	.title-second-line {
	font-weight: 700;
	font-style: normal;
	font-size: 1.25rem;
	line-height: 24px;
	}
}

/* ================================ end Hero ================================ */

/* ================================ Category Page ================================ */

.page-title-block {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	min-height: 148px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	background: #F8F3F4;
}

.page-title__box {
	width: 100%;
	max-width: 1600px;
	max-height: 148px;
	padding: 0 230px;
	margin: 0 auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.page-title__box {
	padding: 0 16px;
	}
}

@media only screen and (max-width: 376px) {
	.page-title__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
}

.page-title-text {
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 29px;
}

.breadcrumb {
	text-transform: uppercase;
	color: #636363;
	text-decoration: none;
	font-weight: 300;
	font-style: normal;
}

.breadcrumb:hover {
	color: #000;
}

.breadcrumb:last-child {
	color: #F16D7F;
	font-weight: 700;
	font-style: normal;
}

/* ================================ Filters ================================ */

.fa-chevron-down {
	width: 10px;
	height: 5px;
	font-size: 12px;
	margin-left: 10px;
}

.filters-primary {
	width: 360px;
	padding: 0 30px 0 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	position: relative;
}

.filters-container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 65px 0;
}

/* ================================ end Filters ================================ */



/* ================================ Category Block ================================ */

.category-block {
	width: 100%;
	max-width: 1140px;
	padding: 65px 0 96px 0;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.category-block {
	max-width: 768px;
	padding: 20px 16px 154px 16px;
	margin: 0 auto;
	}
}

@media only screen and (max-width: 376px) {
	.category-block {
	padding: 64px 16px;
	}
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto 96px auto;
}

.pagination-list {
	display: block;
	padding: 12px 15px;
}

.pagination-list-item {
	display: block;
	margin: 0 9px;
	font-weight: 300;
	font-style: normal;
	line-height: 19px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.pagination-list-item:nth-of-type(2) {
	color: #f16d7f;
}

.pagination-list-item:hover {
	font-weight: 700;
}

.pagination-list-item svg:hover {
	fill: #f16d7f;
}

.pagination>ul {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border: 1px solid #EBEBEB;
	border-radius: 2px;
}

.pagination-arrow-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-item-align: center;
	    align-self: center;
	fill: #000;
	height: 14px;
}

.page-number {
	text-decoration: none;
	color: #5D5D5D;
}

/* Задал те же стили селекторам секций */
.product-block,
.features-block {
	margin: 0 auto;
	width: 100%;
	max-width: 1140px;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.product-block {
	max-width: 768px;
	padding: 0 16px;
	margin: 0 auto;
	}
}

@media only screen and (max-width: 376px) {
	.product-block {
	max-width: 375px;
	padding: 0 8px;
	}
}

.category-container,
.product-container,
.features-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.category-tile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	max-width: 360px;
	height: 100%;
	min-height: 260px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-decoration: none;
}

.category-tile:hover {

	filter: saturate(2.5);
}

.category-left {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url('../img/category-tile-left.png');
	background: -o-linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url('../img/category-tile-left.png');
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url('../img/category-tile-left.png');
	background-size: contain;
}

.category-center {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/category-tile-center.png);
	background: -o-linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-center.png);
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-center.png);
	background-size: contain;
}

.category-right {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/category-tile-right.png);
	background: -o-linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-right.png);
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-right.png);
	background-size: contain;
}

.full-width-cat-tile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	max-width: 1180px;
	min-height: 180px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/category-tile-full-width.png);
	background: -o-linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-full-width.png);
	background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/category-tile-full-width.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-decoration: none;
}

@media only screen and (max-width: 769px) {
	.category-tile {
	max-width: 232px;
	min-height: 168px;
	}

	.full-width-cat-tile {
	min-height: 116px;
	max-width: 1180px;
	}
}

@media only screen and (max-width: 376px) {
	.category-container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	}

	.category-tile {
	margin-bottom: 32px;
	max-width: 343px;
	min-height: 247px;
	}

	#row1 {
	padding-bottom: 0;
	}

	.full-width-cat-tile {
	min-height: 111px;
	background-size: cover;
	}
}

.category-name-first-line {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	line-height: 19px;
	text-transform: uppercase;
}

.punchline {
	font-weight: 700;
	font-style: normal;
	line-height: 28.8px;
	text-transform: uppercase;
}

/* ================================ end Category Block ================================ */

/* ================================ Product Block ================================ */

.products {
	padding: 0 0 95px 0;
	margin: 0 auto;
}

.h2-block {
	margin: 0 auto;
	width: 100%;
	max-width: 1140px;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.h2-candidate-featured-items {
	display: block;
	font-weight: 400;
	font-style: normal;
	font-size: 1.875rem;
	line-height: 36px;
	margin: 0 auto;
	text-transform: capitalize;
}

.featured-items-subtitle {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin: 0 auto;
	color: #9F9F9F;
	padding-bottom: 48px;
}

.product-container {
	padding-bottom: 48px;
	position: relative;
}

@media only screen and (max-width: 376px) {
	.featured-items-subtitle {
	padding-bottom: 64px;
	}

	.product-container {
	padding-bottom: 40px;
	}
}

.product-tile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 360px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #F8F8F8;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.product-tile:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

@media only screen and (max-width: 769px) {
	.product-tile:nth-of-type(3) {
	visibility: hidden;
	width: 0;
	height: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
}

.product-image {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	position: relative;
	display: block;
	width: auto;
	height: 420px;
}

.product-image-overlay {
	display: none;
	position: absolute;
	top: 0;
	background: rgb(58, 56, 56);
	background: rgba(58, 56, 56, 0.86);
	color: #e8e8e8;
	width: 360px;
	height: 420px;
	opacity: 0;
	font-size: 1.25rem;
	padding: 20px;
	text-align: center;
}

.product-tile:hover .product-image-overlay {
	opacity: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.add-to-cart-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 138px;
	max-height: 43px;
	overflow: hidden;
	-ms-flex-item-align: center;
	    align-self: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px;
	cursor: pointer;
	border: 1px solid #fff;
	background: none;
}

.add-to-cart-icon {
	width: 26px;
	height: 24px;
	padding-right: 8px;
	fill: #fff;
}

.add-to-cart-text {
	font-weight: 400;
	line-height: 17px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: focus-visible;
	color: #fff;
}

.add-to-cart-button:hover .add-to-cart-icon {
	fill: #F16D7F;
}

.product-title {
	display: block;
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 15.6px;
	text-transform: uppercase;
	margin: 25px 0 12px 18px;
	text-align: left;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	color: #000000;
}

.product-subtitle {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin: 0 0 18px 18px;
	color: #5D5D5D;
}

.product-price {
	font-weight: 400;
	line-height: 19.2px;
	margin: 0 0 20px 18px;
	color: #F16D7F;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.category-view-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 211px;
	padding: 13px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	min-height: 47px;
	color: #F26376;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-decoration: none;
	word-break: break-all;
	border: 1px solid #F26376;
}

.category-view-button:hover {
	background: #F26376;
	color: #fff;
}


/* ================================ end Product Block ================================ */

/* ================================Product Page Block ================================ */

.product-content {
	margin-bottom: 128px;
}

.product-image-carousel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	background-color: #F7F7F7;
	min-height: 777px;
}

.product-featured-image {
	width: 597px;
	height: 724px;
	margin: 0 auto;
	position: relative;
}

@media only screen and (max-width: 769px) {
	.product-image-carousel {
	min-height: 624px;
	}

	.product-featured-image {
	width: 466px;
	height: 565px;
	}
}

.product-gallery-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 48px;
	height: 48px;
	background-color: #262A2A2A;
	cursor: pointer;
}

.product-gallery-navigation:hover {
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	color: #F16D7F;
}

@media only screen and (max-width: 376px) {

	.btn-prev,
	.btn-next {
	position: absolute;
	top: 50%;
	z-index: 1;
	}

	.btn-prev {
	left: 0;
	}

	.btn-next {
	right: 0;
	}
}

.product-description-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	position: relative;
}

.product-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 71.25%;
	min-height: 600px;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	position: relative;
	top: -65px;
	padding: 65px 250px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
	.product-description {
	width: 100%;
	padding: 65px;
	top: 0;
	}
}

@media only screen and (max-width: 376px) {
	.product-description {
	padding: 25px;
	}

	.product-content {
	margin-bottom: 64px;
	}
}


.product-description-category-name,
.product-description-product-title,
.product-description-product-price,
.product-description-options,
.product-description-buy-button
	{
	display: block;
}

.product-description-category-name,
.product-description-product-title {
	text-transform: uppercase;
}

.product-description-category-name {
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	text-align: center;

}

.product-description-product-title {
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
	color: #4D4D4D;
	margin-bottom: 48px;
}

.product-description-text {
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	text-align: center;
	color: #5E5E5E;
	margin-bottom: 32px;
}

.product-description-separator {
	color: #EF5B70;
	height: 0;
	width: 10%;
	margin: 12px auto;
	border-top: 3px solid #EF5B70;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.product-description-separator-bottom {
	border-top: 1px solid #eaeaea;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	width: 100%;
	margin: 65px auto;
}

.product-description-product-price {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 29px;
	text-align: left;
}

.product-options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 48px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.product-option-header {
	text-align: center;
}

@media only screen and (max-width: 376px) {
	.product-description-separator-bottom {
	width: 50%;
	margin: 32px auto 49px auto;
	}

	.product-options {
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	}

	.product-option-header {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	}
}

.product-cart-button {
	border: 1px solid #F26376;
	min-width: 210px;
}

.product-cart-icon {
	fill: #F26376;
}

.product-cart-button:hover {
	border: 1px solid #222;
	min-width: 210px;
}

.product-cart-button:hover .product-cart-icon {
	fill: #222;
}


/* ================================ end Product Page Block ================================ */


/* ================================ Registration Block ================================ */

@media only screen and (max-width: 769px) {
	.sign-up-col-right {
	max-width: 360px;
	}
}


.account-holder-name,
.login-details {
	display: block;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #222222;
	text-transform: capitalize;
}

.account-creation-input-personal,
.account-creation-input-account {
	display: block;
	margin-bottom: 20px;
	width: 360px;
	min-height: 45px;
	border: 1px solid #A4A4A4;
	padding: 13px 16px 17px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color: #B1B1B1;
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: 300;
	text-transform: capitalize;
}

.radio-buttons-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 31px 0 33px 0;
}

.gender-btn-label {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 300;
	color: #000000;
	margin: 0 20px 0 10px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

input[name="gender"] {
	cursor: pointer;
}

input[name="gender"]:checked+label {
	font-weight: bold;
}

.password-hint {
	color: #B1B1B1;
	font-family: 'Lato', sans-serif;
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: 300;
	width: 360px;
	margin: 0 0 39px 0;
}

.sign-up-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 167px;
	max-height: 50px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: #F16D7F;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-arrow-icon {
	height: 15px;
	fill: #fff;
}

.loyalty-heading {
	display: block;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	color: #000000;
	margin: 0 0 22px 0;
}

.loyalty-text,
.loyalty-perks {
	font-style: normal;
	font-weight: 300;
	line-height: 29px;
	max-width: 652px;
	margin: 0 0 21px 0;
}

.loyalty-perks {
	list-style-image: url('../img/list-checkmark.svg');
	padding-left: 2rem;
}

.loyalty-perks li {
	margin-bottom: 16px;
	padding: 0 0 0 12px;
}

@media only screen and (max-width: 769px) {

	.loyalty-heading,
	.loyalty-text,
	.loyalty-perks {
	font-style: normal;
	font-weight: 300;
	line-height: 19px;
	}

	.loyalty-heading {
	margin-bottom: 32px;
	}

	.loyalty-perks li {
	padding-left: 8px;
	}
}

@media only screen and (max-width: 376px) {
	.sign-up-col-right {
	margin-bottom: 96px;
	}

	.sign-up-button {
	margin-bottom: 40px;
	}

	.loyalty-heading {
	margin-bottom: 32px;
	}

	.loyalty-perks li {
	margin-bottom: 16px;
	}
}

/* ============================== end Registration Block ============================== */

/* ================================ Features Block ================================ */

.features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	background: #222224;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.features-container {
	padding: 103px 0;
}

@media only screen and (max-width: 769px) {
	.features-container {
	padding: 0 0 64px 0;
	}
}

@media only screen and (max-width: 769px) {
	.features-container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	}
}

.features-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 360px;
	min-height: 92px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.feature-icon {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	padding-bottom: 28px;
}

@media only screen and (max-width: 769px) {
	.feature-icon {
	padding: 48px 0 19px 0;
	}
}

.feature-title {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #FBFBFB;
	padding-bottom: 16px;
}

.feature-text {
	font-weight: 300;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
}

@media only screen and (max-width: 376px) {
	.feature-text {
	padding: 0 24px;
	}
}

.pink-text {
	color: #F16D7F;
}
/* ================================ end Features Block ================================ */